@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
  color: #0057b8;
}
.primary-bg-color {
  background-color: #0057b8;
}

.text-primary {
  color: white !important;
}

.active {
  /* background-color: white;
  color: #0057b8;
  padding-inline: 10px;
  border-radius: 1px; */
  border-bottom: 2px solid white;
}
/* font-semibold mt-2 lg:mt-0 lg:ms-14 */
.hello {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.bg {
  background-image: url(../public/ex.webp);
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px !important;
  font-weight: bold !important;
  color: #0057b8 !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin-bottom: 20px !important;
  color: #0057b8 !important;
}

.password-input-container {
  position: relative;
}

.password-visibility-icon {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-30%);
  cursor: pointer;
  font-size: 18px;
}
.logout {
  color: #0057b8 !important;
  background-color: white !important;
}
@media only screen and (max-width: 600px) {
  .log {
    position: relative;
    z-index: -20;
  }
  .header {
    position: relative;
    z-index: 1000;
  }
  .dash a {
    color: #0057b8 !important;
    font-weight: 700;
  }
  .logout {
    color: white !important;
    background-color: #0057b8 !important;
  }
}
